* {
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: "Satisfy";
	src: url("../img/font/Satisfy-Regular.ttf");
	src: url("../img/font/Satisfy-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url("../img/font/TitilliumWeb-Regular.ttf");
	src: url("../img/font/TitilliumWeb-Regular.ttf") format("truetype");
	font-display: swap;
}

body {
	font-family: "Titillium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	overflow-x: hidden;
	max-width: 100%;
}

li {
	list-style-type: none;
}

a:hover {
	color: lightblue;
	text-decoration: underline;
}

main {
	position: relative;
	max-width: 1200px;
	margin: auto;

	padding: 1.8em 2em;
	box-sizing: border-box;
	min-height: calc(100vh - 5em);
	max-height: calc(100vh - 5em);
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(240, 240, 240);
	border-width: 0px 1px;
	overflow-y: auto;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5em;

	background-color: rgba(20, 20, 20, 0.95);
	color: white;
}

#heading {
	padding-left: 1em;
}

#heading h1 {
	flex-basis: content;
	font-family: "Satisfy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	font-size: 2.2em;
	line-height: 1.2em;
	padding-top: 0.3em;
}

#menuButton {
	display: none;
}

#mainNavigation {
	padding-left: 1.5em;
	padding-bottom: 0.7em;
}

#mainNavigation > h2 {
	display: none;
}

#mainNavigation > ul {
	display: flex;
}

#mainNavigation ul li {
	margin-right: 0.8em;
}

#mainNavigation ul li:hover {
	color: lightblue;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#mainNavigation a:hover {
	color: lightblue;
	text-decoration: underline;
}

.has-submenu > a {
	font-size: 1em;
	cursor: pointer;
	background-image: url("../img/icons/arrow_down_icon.svg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	background-size: 1.3em;
	padding-right: 1.3em;
}

#mainNavigation .has-submenu > a:hover {
	text-decoration: none;
}

.has-submenu > ul {
	z-index: 999;
	display: none;
	position: absolute;
	background-color: rgba(20, 20, 20, 0.95);
	border-radius: 5px;
	padding: 0.5em 1em;
}

.has-submenu.open > ul,
.has-submenu:hover > ul {
	display: block;
}

#mainNavigation .flyOutMenu > ul > li a {
	font-weight: normal;
}

.breadcrumb {
	position: absolute;
	top: 0.2em;
	left: 0.4em;

	font-size: 0.95em;
	font-weight: bold;
	color: black;
	box-sizing: border-box;
}

.breadcrumb a {
	color: black;
	text-decoration: underline;
}

.breadcrumb a:hover {
	color: lightblue;
}

.iconButton {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}

.iconButton > span {
	display: none;
}

.userStatus {
	background-image: url("../img/icons/login_icon.svg");
	background-repeat: no-repeat;
	background-size: 2.2em;
	background-position: 100%;
	height: 2.2em;
	line-height: 2em;

	padding-right: 2.6em;
	margin-bottom: 0.2em;

	color: white;
	font-weight: bold;
	font-size: 1.05em;
	margin-right: 0.3em;
}

.userStatus.logoutLink {
	background-image: url("../img/icons/logout_icon.svg");
}

#heading > .userStatus {
	display: none;
}

header #movieSelectContainer {
	flex-grow: 1;
	margin: 0em 0.5em;
}

header #movieSelectContainer #movieSelect {
	margin: auto;
	position: relative;
	height: 100%;
	max-width: 450px;
	z-index: 999;
	padding-top: 2px;
}

header #movieSelect #movieSelectInput {
	position: relative;
	background-color: white;
	height: 1.9em;
	border-radius: 5px;
	border: none;
	z-index: 11;
}

header #movieSelect #movieSelectInput input {
	background-color: transparent;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: none;

	font-size: 1.1em;

	padding-left: 0.4em;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

header #movieSelect #movieSelectInput input::placeholder {
	font-style: italic;
	font-family: "Titillium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(151, 151, 151);
}

header.searching #movieSelect #movieSelectInput button {
	opacity: 1;
}

header #movieSelect #movieSelectInput button {
	opacity: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2.3em;
	background-image: url("../img/icons/clear_icon.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: 100%;
	z-index: 10;
	cursor: pointer;

	transition: opacity 0.2s linear;
}

header #movieSelect #movieSuggestionList {
	position: absolute;
	background-color: rgba(20, 20, 20, 0.95);
	border: 1px solid rgba(20, 20, 20, 0.95);
	border-radius: 5px;
	width: 100%;
	top: 0px;
}

header #movieSelect #movieSuggestionList > p {
	padding-top: 2.5em;
	padding-bottom: 0.5em;
	text-align: center;
}

header #movieSelect #movieSuggestionList ul {
	padding-top: 2.5em;
}

header #movieSelect #movieSuggestionList li {
	margin: 0.3em 0.3em;
}

header #movieSelect #movieSuggestionList a {
	display: flex;
	border-radius: 3px;
	align-items: center;
}

header #movieSelect #movieSuggestionList a:hover {
	background-color: black;
	text-decoration: none;
}

header #movieSelect #movieSuggestionList a div {
	padding-bottom: 0.2em;
}

header #movieSelect #movieSuggestionList a div h2 {
	font-size: 1.1em;
	color: white;
	font-weight: bold;
}

header #movieSelect #movieSuggestionList a div p {
	font-size: 0.9em;
	color: white;
}

header #movieSelect #movieSuggestionList img {
	float: left;
	width: 50px;
	height: 75px;
	border-radius: 3px;
	margin-right: 0.8em;
	object-fit: cover;
}

#actorSelect {
	display: inline-block;
	position: relative;
}

#actorSuggestionList {
	position: absolute;
	background-color: rgba(20, 20, 20, 0.95);
	z-index: 10;
	width: 100%;
}

@media (max-width: 800px) {
	header {
		height: 3.7em;
	}

	header > .userStatus {
		display: none;
	}

	main {
		min-height: calc(100vh - 3.7em);
		max-height: calc(100vh - 3.7em);
		padding-left: 1em;
		padding-right: 1em;
	}

	#heading {
		left: -250px;
		padding: 0px;
		width: 250px;
		height: calc(100vh - 3.7em);
		background-color: rgba(20, 20, 20, 0.95);
		position: absolute;
		top: 3.7em;
		z-index: 999;

		-webkit-transition: left 0.2s linear;
		-moz-transition: left 0.2s linear;
		-o-transition: left 0.2s linear;
		transition: left 0.2s linear;
	}

	#heading.menuActive {
		left: 0;
	}

	#heading h1 {
		font-size: 1.7em;
		line-height: 1em;
		text-align: center;
	}

	#heading > .userStatus {
		display: block;
		background-size: 1.6em;
		background-position: 0;
		padding-left: 2.1em;
		font-size: 1em;
		font-weight: normal;
		width: fit-content;
		margin: auto;
		margin-bottom: 0.3em;
	}

	nav#mainNavigation {
		border-top: 2px solid white;
		margin: 0em 0.5em;
		padding-top: 0.6em;
		padding-left: 0.5em;
	}
	nav > ul > li a {
		font-weight: normal;
	}

	nav#mainNavigation h2,
	.has-submenu > a {
		background-image: none;
		display: block;
		font-size: 1.1em;
		font-weight: bold;
	}

	nav#mainNavigation .has-submenu > a:hover {
		color: white;
		pointer-events: none;
	}

	nav ul li {
		padding-left: 0.5em;
	}

	#userMenu,
	#adminMenu {
		padding-left: 0em;
		padding-top: 0.6em;
	}

	#userMenu > ul,
	#adminMenu > ul {
		position: inherit;
		display: block;
		background-color: transparent;
		padding: 0;
	}

	nav#mainNavigation ul {
		display: block;
	}

	header #menuButton {
		display: block;
		background-image: url("../img/icons/menu_icon.svg");
		background-size: 3.6em;
		height: 3.6em;
		width: 3.6em;
		margin-bottom: 0.2em;
		margin-right: 0em;
		margin-left: 0.4em;
		transition: all 100ms linear;
		flex-basis: 3.6em;
		cursor: pointer;
	}

	header #movieSelectContainer #movieSelect {
		max-width: 100%;
		transition: all 100ms linear;
	}
	#topbar.searching #menuButton {
		flex: 0.00001;
	}
}

.text-input {
	position: relative;
	margin: 0.4em 0em;
}

.text-input.error label {
	color: #9f3a38;
}

.text-input.error input {
	color: #9f3a38;
	border-color: #9f3a38;
	background-color: #fff6f6;
}
.text-input.error input::placeholder {
	color: #9f3a38;
}

.text-input.error .hint {
	display: initial;
}

.text-input .hint {
	display: none;
	font-size: 0.9em;
	color: #9f3a38;
	right: 0px;
	top: 0.1em;
	position: absolute;
}

.text-input label {
	font-weight: bold;
	font-size: 0.9em;
}

.text-input input,
.text-input select,
.text-input textarea {
	background: #fff;
	border-radius: 3px;
	border: 1px solid rgb(182, 182, 182);
	height: 2.4em;
	padding: 0em 0.4em;
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
}
.text-input textarea {
	height: unset;
	padding-top: 0.2em;
	resize: vertical;
}

#genre-checkboxes {
	display: grid;
	grid-template-columns: auto auto;
	max-width: 20em;
}

#platform-checkboxes {
	display: grid;
	grid-template-columns: auto auto;
	max-width: 20em;
}

#platform-checkboxes > fieldset {
	border: none;
	display: grid;
	grid-template-columns: auto auto auto;
}

#rating-checkboxes,
#subtitle-checkboxes {
	display: grid;
	grid-template-columns: auto auto auto;
	max-width: 20em;
}

#livello-select,
#mood-select {
	max-width: 21.3em;
}

.checkbox-group {
	border: 1px solid rgb(182, 182, 182);
	margin: 0.4em 0em;
	padding: 0.2em 0.6em;
	border-radius: 3px;
}

.checkbox-group > legend {
	font-weight: bold;
	font-size: 0.9em;
}

.checkbox-field {
	font-size: 0.9em;
}

.checkbox-field label {
	padding-left: 0.3em;
}

.text-input input::placeholder {
	font-style: italic;
}

.submit-btn {
	display: block;

	color: white;
	background-color: #0d6efd;
	margin: 0.4em auto;
	padding: 0.3em;
	border-radius: 5px;
	border: 1px solid #0d6efd;
	cursor: pointer;
	min-width: 12em;
	font-family: inherit;
	font-size: 1em;
}

form:invalid .submit-btn {
	pointer-events: none;
	opacity: 0.5;
}

#login-form {
	margin: auto;
	margin-top: 2em;
	max-width: 19em;
}

#login-form .submit-btn {
	margin-top: 1em;
	width: 100%;
}

#login-form p {
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid rgb(224, 224, 224);
}

#login-form h2 {
	text-align: center;
	font-size: 2em;
}

#login-form div {
	width: 100%;
}

.slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 23px;
	height: 24px;
	border: 0;
	/*background: url('');*/
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 23px;
	height: 24px;
	border: 0;
	/*background: url('contrasticon.png');*/
	cursor: pointer;
}

.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.tabs {
	margin-top: 0.5em;
}

[role="tab"] {
	position: relative;
	flex: 1 1 0px;

	font-family: inherit;
	font-size: 1.1em;

	border: none;

	cursor: pointer;
	background-color: transparent;
	border-radius: 3px 3px 0px 0px;
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

[role="tab"][aria-selected="true"] {
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);

	border-bottom: 1px solid white;
	background-color: white;
	font-weight: bold;
}

[role="tab"]:hover {
	font-weight: bold;
}

[role="tablist"] {
	display: flex;
}

[role="tabpanel"] {
	background-color: white;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	border-top: 0px;
	border-radius: 0px 0px 3px 3px;
	position: relative;
	padding: 0.5em 1em;
}
[role="tabpanel"].is-hidden {
	display: none;
}
