* {
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family: "Satisfy";
	src: url("../img/font/Satisfy-Regular.ttf");
	src: url("../img/font/Satisfy-Regular.ttf") format("truetype");
	font-display: swap;
}

@font-face {
	font-family: "Titillium";
	src: url("../img/font/TitilliumWeb-Regular.ttf");
	src: url("../img/font/TitilliumWeb-Regular.ttf") format("truetype");
	font-display: swap;
}

body {
	font-family: "Titillium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	overflow-x: hidden;
	max-width: 100%;
	font-size: 1.03em;
}

li {
	list-style-type: none;
}

a:hover {
	color: lightblue;
	text-decoration: underline;
}

main {
	position: relative;
	max-width: 1200px;
	margin: auto;

	padding: 0em;
	box-sizing: border-box;
	min-height: calc(100vh - 6.8em);
	max-height: calc(100vh - 6.8em);
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(240, 240, 240);
	border-width: 0px 1px;
	overflow-y: auto;
}

.breadcrumb {
	max-width: 1200px;
	margin: auto;
	height: 1.8em;
	line-height: 1.8em;
	padding: 0em 0.4em;
	font-size: 0.95em;
	font-weight: bold;
	color: black;
	box-sizing: border-box;
	z-index: 14;
	background-color: rgb(250, 250, 250);
	border: 1px solid rgb(240, 240, 240);
	border-width: 0px 1px;
}
.breadcrumb a {
	color: black;
	text-decoration: underline;
}
.breadcrumb a:hover {
	color: lightblue;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 5em;

	background-color: rgba(20, 20, 20, 0.95);
	color: white;
}

#heading {
	padding-left: 1em;
}

#heading h1 {
	flex-basis: content;
	font-family: "Satisfy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	font-size: 2.2em;
	line-height: 1.2em;
	padding-top: 0.3em;
}

#menuButton {
	display: none;
}

#mainNavigation {
	padding-left: 1.5em;
	padding-bottom: 0.7em;
}

#mainNavigation > h2 {
	display: none;
}

#mainNavigation > ul {
	display: flex;
}

#mainNavigation ul li {
	margin-right: 0.8em;
}

#mainNavigation ul li:hover {
	color: lightblue;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

#mainNavigation a:hover {
	color: lightblue;
	text-decoration: underline;
}

.has-submenu > a {
	font-size: 1em;
	cursor: pointer;
	background-image: url("../img/icons/arrow_down_icon.svg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
	background-size: 1.3em;
	padding-right: 1.3em;
}

#mainNavigation .has-submenu > a:hover {
	text-decoration: none;
}

.has-submenu > ul {
	z-index: 999;
	display: none;
	position: absolute;
	background-color: rgba(20, 20, 20, 0.95);
	border-radius: 5px;
	padding: 0.5em 1em;
}

.has-submenu.open > ul,
.has-submenu:hover > ul {
	display: block;
}

#mainNavigation .flyOutMenu > ul > li a {
	font-weight: normal;
}

.iconButton {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}

.iconButton > span {
	display: none;
}

.userStatus {
	background-image: url("../img/icons/login_icon.svg");
	background-repeat: no-repeat;
	background-size: 2.2em;
	background-position: 100%;
	height: 2.2em;
	line-height: 2em;

	padding-right: 2.6em;

	color: white;
	font-weight: bold;
	font-size: 1.05em;
	margin-right: 0.3em;
}

.userStatus.logoutLink {
	background-image: url("../img/icons/logout_icon.svg");
}

#heading > .userStatus {
	display: none;
}

header #movieSelectContainer {
	flex-grow: 1;
	margin: 0em 0.5em;
}

header #movieSelectContainer #movieSelect {
	margin: auto;
	position: relative;
	height: 100%;
	max-width: 450px;
	z-index: 999;
	padding-top: 2px;
}

header #movieSelect #movieSelectInput {
	position: relative;
	background-color: white;
	height: 1.9em;
	border-radius: 5px;
	border: none;
	z-index: 11;
}

header #movieSelect #movieSelectInput input {
	background-color: transparent;
	height: 100%;
	width: 100%;
	border-radius: 5px;
	border: none;

	font-size: 1.1em;

	padding-left: 0.4em;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;
}

header #movieSelect #movieSelectInput input::placeholder {
	font-style: italic;
	font-family: "Titillium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	color: rgb(151, 151, 151);
}

header.searching #movieSelect #movieSelectInput button {
	opacity: 1;
}

header #movieSelect #movieSelectInput button {
	opacity: 0;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 2.3em;
	background-image: url("../img/icons/clear_icon.svg");
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	background-size: 100%;
	z-index: 10;
	cursor: pointer;

	transition: opacity 0.2s linear;
}

header #movieSelect #movieSuggestionList {
	position: absolute;
	background-color: rgba(20, 20, 20, 0.95);
	border: 1px solid rgba(20, 20, 20, 0.95);
	border-radius: 5px;
	width: 100%;
	top: 0px;
}

header #movieSelect #movieSuggestionList > p {
	padding-top: 2.5em;
	padding-bottom: 0.5em;
	text-align: center;
}

header #movieSelect #movieSuggestionList ul {
	padding-top: 2.5em;
}

header #movieSelect #movieSuggestionList li {
	margin: 0.3em 0.3em;
}

header #movieSelect #movieSuggestionList a {
	display: flex;
	border-radius: 3px;
	align-items: center;
	text-decoration: none;
}

header #movieSelect #movieSuggestionList a:hover {
	background-color: black;
	text-decoration: none;
}

header #movieSelect #movieSuggestionList a div {
	padding-bottom: 0.2em;
}

header #movieSelect #movieSuggestionList a div h2 {
	font-size: 1.1em;
	color: white;
	font-weight: bold;
}

header #movieSelect #movieSuggestionList a div p {
	font-size: 0.9em;
	color: white;
}

header #movieSelect #movieSuggestionList img {
	float: left;
	width: 50px;
	height: 75px;
	border-radius: 3px;
	margin-right: 0.8em;
	object-fit: cover;
}

#actorSelect {
	display: inline-block;
	position: relative;
}

#actorSuggestionList {
	position: absolute;
	background-color: rgba(20, 20, 20, 0.95);
	z-index: 10;
	width: 100%;
}

#genre-checkboxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 20em;
}

#platform-checkboxes {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 20em;
}

#platform-checkboxes > fieldset {
	border: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#rating-checkboxes,
#subtitle-checkboxes {
	display: grid;
	grid-template-columns: auto auto auto;
	max-width: 20em;
}

#livello-select,
#mood-select {
	max-width: 21.3em;
}

/*PAGINA LOGIN*/

#login-form {
	margin: auto;
	margin-top: 2em;
	max-width: 19em;
}

#login-form .submit-btn {
	margin-top: 1em;
	width: 100%;
}

#login-form p {
	text-align: center;
	font-size: 0.9em;
	padding-bottom: 0.5em;
	border-bottom: 2px solid rgb(224, 224, 224);
}

#login-form h2 {
	text-align: center;
	font-size: 2em;
}

#login-form div {
	width: 100%;
}

/* COMPONENTI */

.visuallyHidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.file-input input::-webkit-file-upload-button {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.card {
	background-color: white;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	border-radius: 5px;
	padding: 0.2em 0.9em;
	padding-bottom: 0.4em;
}

.file-input.text-input input {
	padding-left: 0px;
}

.file-input input::before {
	content: "Inserisci Immagine";
	display: inline-block;
	background: #e0e1e2;

	color: rgba(0, 0, 0, 0.6);

	text-align: center;
	padding: 0em 0.5em;
	padding-top: 0.3em;

	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	margin-right: 0.5em;
	height: 100%;
}

.file-input.error input::before {
	background-color: rgb(134, 22, 22);
	color: white;
}

.text-input label.required,
.checkbox-group legend.required {
	background-image: url("../img/icons/danger_icon.svg");
	background-position: right;
	background-position-y: 0.45em;
	background-repeat: no-repeat;
	background-size: 0.35em;
	padding-right: 0.55em;
}

.text-input {
	position: relative;
	margin: 0.4em 0em;
}

.text-input.error label {
	color: #9f3a38;
}

.text-input.error input,
.text-input.error textarea {
	color: #9f3a38;
	border-color: #9f3a38;
	background-color: #fff6f6;
}
.text-input.error input::placeholder {
	color: #9f3a38;
}

.text-input.error .hint {
	max-width: 70%;
	display: initial;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.text-input .hint {
	display: none;
	font-size: 0.9em;
	color: #9f3a38;
	right: 0px;
	top: 0.1em;
	position: absolute;
}

.text-input label {
	font-weight: bold;
	font-size: 0.9em;
}

.text-input input,
.text-input select,
.text-input textarea {
	background: #fff;
	border-radius: 3px;
	border: 1px solid rgb(182, 182, 182);
	height: 2.4em;
	padding: 0em 0.4em;
	width: 100%;
	box-sizing: border-box;
	font-family: inherit;
}
.text-input textarea {
	height: unset;
	padding-top: 0.2em;
	resize: vertical;
}

.checkbox-group {
	border: 1px solid rgb(182, 182, 182);
	margin: 0.4em 0em;
	padding: 0.2em 0.6em;
	border-radius: 3px;
}

.checkbox-group.error {
	border-color: #9f3a38;
	background-color: #fff6f6;
}

.checkbox-group.error > legend {
	color: #9f3a38;
}

.checkbox-group > legend {
	font-weight: bold;
	font-size: 0.9em;
}

.checkbox-field {
	font-size: 0.9em;
}

.checkbox-field label {
	padding-left: 0.3em;
}

.text-input input::placeholder {
	font-style: italic;
}

.submit-btn {
	display: block;

	color: white;
	background-color: #0d6efd;
	margin: 0.4em auto;
	padding: 0.3em;
	border-radius: 5px;
	border: 1px solid #0d6efd;
	cursor: pointer;
	min-width: 12em;
	font-family: inherit;
	font-size: 1em;
}

form:invalid .submit-btn {
	pointer-events: none;
	opacity: 0.5;
}

a.skip-to-content {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}

a.skip-to-content:focus,
a.skip-to-content:active {
	color: #fff;
	background-color: rgba(20, 20, 20, 0.95);
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow: auto;

	padding: 0.1em;
	border-radius: 3px;
	text-align: center;
	font-size: 1.2em;
	z-index: 2000;
}

/*TAB PAGINA INSERISCI FILM */

.tabs {
	margin: 0.5em 0.9em;
}

[role="tab"] {
	position: relative;
	flex: 1 1 0px;

	font-family: inherit;
	font-size: 1.1em;

	border: none;

	cursor: pointer;
	background-color: transparent;
	border-radius: 3px 3px 0px 0px;
	border: 1px solid transparent;
	border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

[role="tab"][aria-selected="true"] {
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);

	border-bottom: 1px solid white;
	background-color: white;
	font-weight: bold;
}

[role="tab"]:hover {
	font-weight: bold;
}

[role="tablist"] {
	display: flex;
}

[role="tabpanel"] {
	background-color: white;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	border-top: 0px;
	border-radius: 0px 0px 3px 3px;
	position: relative;
	padding: 0.5em 1em;
}
[role="tabpanel"].is-hidden {
	display: none;
}

/*HOMEPAGE*/

#zerocalcare {
	margin-left: 15%;
	padding: 0.5em;
	width: 55%;
	height: auto;
}

p {
	margin: 0.5em;
	text-align: justify;
}

/*APPROFONDIMENTI*/

h2 {
	margin: 1em 0em;
}

#emotions dd{
	min-height: 210px;
}
#emotions p {
	padding: 2em 5em;
}

#emotions img{
	height: 160px;
	width: auto;
	float: left;
	margin-left: 1em;
	margin-right: 2.5em;
}

#emotions dt {
	font-size: 1.1em;
	font-style: italic;
	margin-left: 1em;
}


#level dt{
	font-size: 1.1em;
	color: ;
	margin: 0.5em 0em;
}

#imgLevel {
	height: 180px;
	width: auto;
	margin: 0.5em;
	margin-left: 35%;
}


/*PAGINA RICERCA*/

#adv-search-dropdown {
	margin: 0em 1em;
}

#adv-search-dropdown.open #adv-search-form {
	display: grid;
	grid-template:
		"d e f"
		"a b b"
		"a c c"
		"g g g"
		/ 1fr 1fr 1fr;
	column-gap: 0.5em;
	row-gap: 0.3em;
	border-top: 1px solid rgba(34, 36, 38, 0.15);
	margin: auto;
	margin-top: 0.4em;
	padding-top: 0.4em;
}

#adv-search-dropdown #adv-search-form {
	display: none;
}

#adv-search-form > fieldset,
#adv-search-form > div {
	margin: 0px;
}

#adv-search-form #genre-checkboxes {
	grid-area: a;
	max-width: 100%;
}
#adv-search-form #platform-checkboxes {
	grid-area: b;
	max-width: 100%;
}

#adv-search-form #subtitle-checkboxes {
	grid-area: c;
	max-width: 100%;
}
#adv-search-form #rating-select {
	grid-area: d;
	max-width: 100%;
}

#adv-search-form #livello-select {
	grid-area: e;
	max-width: 100%;
}
#adv-search-form #mood-select {
	grid-area: f;
	max-width: 100%;
}

#adv-search-form .submit-btn {
	grid-area: g;
	width: 100%;
}

#adv-search-btn {
	background-image: url("../img/icons/arrow_down_icon_black.svg");
	background-repeat: no-repeat;
	background-position: right 0.25em;
	background-size: 1.2em;
	font-size: 1.8em;
	font-family: inherit;
	font-weight: bold;
	text-align: center;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 100%;
}

#adv-search-dropdown.open #adv-search-btn {
	background-image: url("../img/icons/arrow_up_icon_black.svg");
}

#adv-search-btn:hover {
	opacity: 0.7;
}

.search-movie-list {
	margin: 0.7em 1.3em;
	padding: 0.2em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(13em, 1fr));
	gap: 0.3em;
}

.search-movie-list li a {
	text-align: center;
	display: block;
	width: 100%;
	height: auto;
}

.search-movie-list li a:hover {
	opacity: 0.8;
}

.search-movie-list li img {
	border-radius: 3px;
	width: 13em;
	height: 20em;
	object-fit: cover;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);

	margin: 0px;
}

.search-movie-list li dl {
	text-align: center;
	margin-bottom: 0.3em;
}

.search-movie-list li dl .view-movie-title {
	font-weight: bold;
	font-size: 1.1em;
	padding-left: 0px;
}

.stars {
	display: inline-block;
	font-size: 1.2em;
	line-height: 1.2em;
}

.stars::before {
	font-family: Times;
	content: "★★★★★";
	letter-spacing: 0px;
	background: linear-gradient(
		90deg,
		rgb(255, 230, 0) calc(var(--stars) / 5 * 100%),
		rgb(179, 179, 179) calc(var(--stars) / 5 * 100%)
	);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
}

.go-back-up {
	display: block;
	width: 100%;
	text-align: center;
	margin: 0.5em 0em;
}

/*MOSTRA FILM*/

#movie-details {
	position: relative;
	display: flex;
	padding: 1em;
	margin: 0.4em 0.8em;
	margin-bottom: 0.8em;
}

.movie-cover-container {
	height: content;
}
.movie-cover-container img {
	height: 24em;
	width: 17em;
	border-radius: 3px;
	object-fit: cover;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
}

#delete-movie-btn {
	background-image: url("../img/icons/delete_icon.svg");
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 3em;
	height: 3em;
	width: 3em;
	padding: 0;
	border: none;
	cursor: pointer;
}
.movie-val-form {
	display: flex;
	border: 1px solid rgba(34, 36, 38, 0.15);
	box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
	border-radius: 3px;
	padding: 0em 0.2em;
	justify-content: center;
}
.vote-btn {
	height: 2.3em;
	width: 2.3em;
}
.vote-btn input[type="checkbox"] {
	position: relative;
	cursor: pointer;
	width: 100%;
	height: 100%;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
}
.vote-btn input[type="checkbox"]:hover:before {
	opacity: 1;
	outline: 2px solid black;
}
.vote-btn input[type="checkbox"]:focus::before {
	outline: 2px solid black;
}
.vote-btn input[type="checkbox"]:before {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.5;

	border-radius: 5px;

	background-image: url("../img/icons/eye_off_icon.svg");
	background-repeat: no-repeat;
	background-size: 1.9em;
	background-position: center;
}
.vote-btn input[type="checkbox"]:checked:before {
	opacity: 1;
}
#visto-btn input[type="checkbox"]:before {
	background-image: url("../img/icons/eye_off_icon.svg");
}

#visto-btn input[type="checkbox"]:checked:before {
	background-image: url("../img/icons/eye_icon.svg");
}

#salvato-btn input[type="checkbox"]:before {
	background-size: 1.7em;
	background-image: url("../img/icons/heart_empty_icon.svg");
}

#salvato-btn input[type="checkbox"]:checked:before {
	background-image: url("../img/icons/heart_full_icon.svg");
}

.vote-stars {
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	font-weight: bold;
	margin-left: 0.3em;
	margin-right: 0.6em;
	padding-right: 1em;
	border-right: 2px solid rgb(199, 199, 199);
}

#val-submit-btn {
	background-image: url("../img/icons/check_icon.svg");
	background-color: transparent;
	font-weight: bold;
	font-family: inherit;
	font-size: 1em;
	background-repeat: no-repeat;
	border-radius: 5px;
	background-size: 1.6em;
	background-position: center left;
	padding-left: 2em;
	padding-right: 0.5em;
	height: 2.3em;
	border: none;

	cursor: pointer;
}

#val-submit-btn:hover {
	outline: 2px solid black;
}

#delete-film-form {
	position: absolute;
	right: 0.2em;
	top: 0.2em;
}

#delete-film-form:hover {
	opacity: 0.6;
}

.movie-info-list {
	display: flex;
	flex-wrap: wrap;
	margin-left: 1em;
	align-content: flex-start;
}

#title-item {
	flex: 1 1 100%;
	align-self: baseline;
}
#title-item dd {
	font-size: 1.6em;
	line-height: 1.3em;
	font-weight: bold;
}
#star-item {
	align-self: baseline;

	margin-left: 0.4em;
	padding: 0em;
}

#anno-item {
	margin-left: 0.4em;
}

#plot-item {
	flex: 1 1 100%;
	border-top: 1px solid rgba(34, 36, 38, 0.15);
	border-bottom: 1px solid rgba(34, 36, 38, 0.15);
	padding: 0.2em 0.4em;
}

#regista-item {
	padding: 0.2em 0.4em;
	flex: 1 1 100%;
	border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
#actors-item {
	padding: 0.2em 0.4em;
	flex: 1 1 100%;
	border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

#genres-item {
	padding: 0.2em 0.4em;
	text-transform: capitalize;
}

#mood-item {
	padding: 0.2em 0.4em;
	margin-right: 0.8em;
	text-transform: capitalize;
}
#impegno-item {
	padding: 0.2em 0.4em;
	text-transform: capitalize;
}

#platform-item {
	flex: 1 1 100%;
	border-top: 1px solid rgba(34, 36, 38, 0.15);
	margin-bottom: 0.4em;
}

#platform-item dt {
	font-weight: bold;
	padding: 0.2em 0.4em;
	padding-bottom: 0em;
}

#platform-item .movie-info > ul {
	margin-left: 0.9em;
}

#platform-item .movie-info > ul > li > p {
	display: inline-block;
	width: 10em;
}

#platform-item .movie-info > ul > li > ul {
	display: inline-block;
}

.only-info dd {
	font-weight: bold;
	color: rgb(41, 41, 41);
	margin: 0em 0.5em;
}

.inline-dot-list li {
	display: inline-block;
	margin-right: 0.4em;
}

.inline-dot-list li::after {
	content: "•";
	color: rgb(41, 41, 41);
	padding-left: 0.4em;
}

.inline-dot-list li:last-child:after {
	content: "";
}

.inline-info dt {
	display: inline-block;
	font-weight: bold;
	color: rgb(41, 41, 41);
}

.inline-info dd {
	display: inline-block;
	margin-left: 0.4em;
}

/* PROFILO */

#profile-details {
	margin: 0.4em 0.9em;
	margin-top: 0.6em;
	padding: 0.5em 1em;
}

#profile-details h2 {
	font-size: 1.8em;
	text-align: center;
}

#profile-details h3 {
	margin-top: 0.4em;
	padding-left: 0.4em;
	padding-top: 0.2em;
	border-top: 2px solid rgba(34, 36, 38, 0.15);
}

#profile-details dl {
	padding-left: 0.9em;
	margin-bottom: 0.3em;
}

#profile-details dl dd {
	padding-left: 0.3em;
}

#profile-details dl dt {
	font-weight: bold;
}

#profile-details .submit-btn {
	max-width: 15em;
	text-align: center;
}

/* PAGINE LISTA FILM UTENTE*/

.user-list-header {
	margin: 0.4em 0.5em;
	margin-bottom: 0.7em;
}

.user-movie-list {
	margin: 0.7em 1.3em;
}

.user-movie-list li {
	display: flex;
	margin: 0.3em 0em;
}

.user-movie-list li img {
	border-radius: 3px;
	height: 9em;
	width: 6.8em;
	object-fit: cover;
	margin: 0px;
}

.user-movie-list li dl {
	margin-left: 0.5em;
}

.user-movie-list li dl .view-movie-title {
	font-weight: bold;
	padding-left: 0px;
}

.user-movie-list li dl dd {
	padding-left: 0.2em;
}

/*404*/

#content.card.fourohfour {
	max-width: 40em;
	height: unset;
	min-height: unset;
}

/*MOBILE*/

@media (max-width: 800px) {
	header {
		height: 3.7em;
	}

	header > .userStatus {
		display: none;
	}

	main {
		min-height: calc(100vh - 5.5em);
		max-height: calc(100vh - 5.5em);
		padding: 0em 0.6em;
	}

	#heading {
		left: -250px;
		padding: 0px;
		width: 250px;
		height: calc(100vh - 3.7em);
		background-color: rgba(20, 20, 20, 0.95);
		position: absolute;
		top: 3.7em;
		z-index: 999;

		-webkit-transition: left 0.2s linear;
		-moz-transition: left 0.2s linear;
		-o-transition: left 0.2s linear;
		transition: left 0.2s linear;
	}

	#heading nav#mainNavigation,
	#heading h1 {
		display: none;
	}

	#heading.menuActive nav#mainNavigation,
	#heading.menuActive .userStatus,
	#heading.menuActive h1 {
		display: block;
	}

	#heading.menuActive {
		left: 0;
	}

	#heading h1 {
		font-size: 1.7em;
		line-height: 1em;
		text-align: center;
	}

	#heading > .userStatus {
		display: none;
		background-size: 1.6em;
		background-position: 0;
		padding-left: 2.1em;
		font-size: 1em;
		font-weight: normal;
		width: fit-content;
		margin: auto;
		margin-bottom: 0.3em;
	}

	nav#mainNavigation {
		border-top: 2px solid white;
		margin: 0em 0.5em;
		padding-top: 0.6em;
		padding-left: 0.5em;
	}
	nav > ul > li a {
		font-weight: normal;
	}

	nav#mainNavigation h2,
	.has-submenu > a {
		background-image: none;
		display: block;
		font-size: 1.1em;
		font-weight: bold;
	}

	nav#mainNavigation .has-submenu > a:hover {
		color: white;
		pointer-events: none;
	}

	nav ul li {
		padding-left: 0.5em;
	}

	#userMenu,
	#adminMenu {
		padding-left: 0em;
		padding-top: 0.6em;
	}

	#userMenu > ul,
	#adminMenu > ul {
		position: inherit;
		display: block;
		background-color: transparent;
		padding: 0;
	}

	nav#mainNavigation ul {
		display: block;
	}

	header #menuButton {
		display: block;
		background-image: url("../img/icons/menu_icon.svg");
		background-size: 3.6em;
		height: 3.6em;
		width: 3.6em;
		margin-bottom: 0.2em;
		margin-right: 0em;
		margin-left: 0.4em;
		transition: all 100ms linear;
		flex-basis: 3.6em;
		cursor: pointer;
	}

	header #movieSelectContainer #movieSelect {
		max-width: 100%;
		transition: all 100ms linear;
	}
	#topbar.searching #menuButton {
		flex: 0.00001;
	}

	#adv-search-form {
		padding: 0em 0.5em;
	}

	#adv-search-dropdown {
		margin: 0em 0em;
		padding: 0.3em 0.3em;
	}

	#adv-search-dropdown.open #adv-search-form {
		grid-template:
			"d e f"
			"a a a"
			"b b b"
			"c c c"
			"g g g" / 22% 1fr 1fr;
	}

	#attore-form,
	#profile-details,
	.tabs,
	.user-list-header {
		margin: 0.4em 0em;
	}

	.search-movie-list li img {
		width: 10em;
		height: 15em;
	}

	.search-movie-list {
		margin: 0.5em 0.2em;
		gap: 0.2em;
		grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
	}

	h2 {
		margin: 0.5em 0em;
	}


	#emotions p {
		padding: 0.5em 1em;
	}

	#emotions img{
		height: 130px;
		width: auto;
		float: none;
		margin: 0.2em 1em;
	}

	#emotions dt {
		font-size: 1.1em;
		font-style: italic;
		margin-left: 1em;
	}

	#level dt{
		font-size: 1.1em;
		color: ;
		margin: 0.5em 0em;
	}

	#imgLevel {
		height: 180px;
		width: auto;
		margin: 0.5em;
		margin-left: 1em;
	}
}

@media (max-width: 650px) {
	#movie-details {
		flex-direction: column;
		margin: 0.2em 0.2em;
		margin-bottom: 0.8em;
		padding: 0.4em 0.5em;
		padding-top: 0.8em;
	}
	.movie-cover-container {
		align-self: center;
		width: 100%;
	}

	.movie-cover-container form {
		text-align: center;
		justify-content: space-evenly;
		margin-top: 0.4em;
		margin-bottom: 0.3em;
	}

	.movie-cover-container img {
		display: block;
		margin: auto;
		width: 70%;
		height: auto;
		object-fit: cover;
		text-align: center;
	}

	#title-item {
		margin-left: 0.4em;
	}
	#star-item {
		margin-left: 0.6em;
	}

	.movie-info-list {
		display: flex;
		flex-wrap: wrap;
		margin-left: 0em;
		align-content: flex-start;
	}

		h2 {
		margin: 0.5em 0em;
	}


	#emotions p {
		padding: 0.5em 1em;
	}

	#emotions img{
		height: 130px;
		width: auto;
		float: none;
		margin-left: 11em;
	}

	#emotions dt {
		font-size: 1.1em;
		font-style: italic;
		margin-left: 1em;
	}

	#level dt{
		font-size: 1.1em;
		color: ;
		margin: 0.5em 0em;
	}

	#imgLevel {
		height: 180px;
		width: auto;
		margin: 0.5em;
		margin-left: 10em;
	}
}
